.headerText {
    color: white;
    white-space: nowrap;
    margin-right: 10px;
    /* background-color: white; */
}

.headerText:hover {
    color: inherit; /* Keep the same color */
    text-decoration: none; 
  }

#header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    padding-left: 10px;
    padding-top: 5px;
    background-color: black;

    box-sizing: border-box;
    font-size: 4vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    border-bottom-style: solid;
}

.pfp {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 5px;
    height: 8vh;
    width: 8vh;
    /* max-height: 18vh; */
}

.profile-dropdown-menu {
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: black;
    width: 12vw;
    height: 14.1vh;
}

#firstButtonProfileDropdown {
    position: absolute;
    /* top: 5vh; */
    /* left: 12vw; */

    width: 12vw;
    height: 7vh;
    font-size: 1.5vw;
    
}

#secondButtonProfileDropdown {
    position: absolute;
    top: 7.1vh;

    width: 12vw;
    height: 7vh;
    font-size: 1.5vw;
}

#homeButton,
#favoritesButton {
    height: 9vh;
    width: 10vw;

    background-color: #1a1a1a;
    /* border-style: solid; */
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    border-color: rgb(16, 16, 16);
    text-align: center;
    
    display: flex;
    align-items: center;  
    justify-content: center; 

    cursor: pointer;
}

#homeButton:hover,
#favoritesButton:hover {
    background-color: #2b2b2b;
}

#homeButton {
    position: relative;
    bottom: 0.5vh;
    right: 23vw;
}

#favoritesButton {
    position: absolute;
    bottom: 0.5vh;
    left: 49vw;
}