/* #root {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    background-color: black;
} */

/* #header {
    width: 100%;
    height: 6vh;
    position: absolute;
    top: 0;
    padding-left: 10px;
    padding-top: 5px;
    background-color: black;

    box-sizing: border-box;
    font-size: 4vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
} */

#mainBody {
    position: absolute;
    top: 10vh;
    /* header */
    bottom: 7vh;
    /* footer */
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 99;

    /* text-align: center; */
}

#footer {
    width: 100%;
    height: 7vh;
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}

#projectTitle {
    color: white;
}

.instructions {
    position: absolute;
    left: 50%;
    top: 45%;
}

#stepsThing {
    /* width: 25%; */
    /* height: 100%; */
    /* float: left; */
    /* text-align: right; */

    /* box-sizing: border-box;
    padding-right: 10px;
    padding-top: 5px; */
    position: relative;
    top: 7vh;
    height: 7vh;
    right: 26vw;

    font-size: 5vh;

    background-color: rgb(0, 0, 0);
}

#centerThing {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    margin: auto;
    width: 80%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#centerCenterTop {
    width: 100%;
    text-align: left;
    font-size: 5vh;
    color: white;
    padding-bottom: 1vh;
    height: 7vh;
    background-color: rgb(0, 0, 0);

    box-sizing: border-box;
    padding-left: 17vw;
}

#centerCenterCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    /* padding-left: 13vw; */
}

#centerCenterBot {
    width: 100%;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;

    background-color: rgb(0, 0, 0);
}

.inputBox {
    padding: 10px;
    height: 50vh;
    width: 55vw;
    font-size: 2.2vh;
    margin-top: 1vh;
    box-sizing: border-box;
    margin-left: 9vw;
    resize: none;
    background-color: #2c2934;
}

.dropdown {
    margin-top: 1vh;
    /* margin-right: 3vw; */
    margin-left: 5.5vw;
    height: 7vh;
    width: 64%;
    font-size: 3vh;
    text-align: center;
}

.OKbutton {
    /* margin-left: 1vh; */
    /* margin-top: 2vh; */
    margin-top: 2vh;
    height: 6vh;
    width: 10vw;
    font-size: 2vh;

    height: 6vh;
    width: 6vw;

    font-size: 2vh;
    /* position: absolute; */
    /* background-color: rgb(61, 63, 63); */
}

#buttonContainer {
    margin-right: 5px;
    float: right;
    display: flex;
}

.arrowButton {
    height: 6vh;
    width: 6vw;
    margin-right: 1vh;

    font-size: 2vh;
}

.resultBox {
    padding: 10px;
    height: 60vh;
    width: 55vw;
    font-size: 2.5vh;
    margin-top: 1vh;
    box-sizing: border-box;
    margin-left: 8.5vw;

    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000000;
}

.custom-file-upload {
    display: inline-block;
    width: 6vh;
    /* Width and height same for perfect circle */
    height: 6vh;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border-radius: 50%;
    /* Button circular */
    text-align: center;
    line-height: 6vh;
    /* Vertically center */
    font-size: 2.5vh;

    position: absolute;
    left: 51.1vw;
    top: 0.55vh;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.file-upload {
    margin-top: 10px;
    background-color: #1e1c24;
    height: 7vh;
    width: 100.6vh;

    position: absolute;
    right: 8.2vw;
    bottom: 10.4vh;
}

.fileUploadName {
    position: absolute;
    left: 1vw;
}

.file-download {
    position: absolute;
}

.favoritesButton-home {
    position: absolute;
    top: 15vh;
    right: 3vw;
}

.ExportButton {
    /* margin-left: 1vh; */
    /* margin-top: 2vh; */
    margin-top: 2vh;
    height: 6vh;
    width: 10vw;
    font-size: 2vh;

    height: 6vh;
    width: 6vw;

    font-size: 2vh;
    /* position: absolute; */
    /* background-color: rgb(61, 63, 63); */
}