/* body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.container {
    position: absolute;
    top: 6vh;
    /* header */
    /* bottom: 7vh; */
    /* footer */
    width: 100%;
    height: 105%;
    background-color: rgb(0, 0, 0);
    z-index: 99;
}

h1 {
    margin-bottom: 20px;
}

#signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .input-field {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
} */

/* input::placeholder {
    color: #aaa;
} */

/* button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
} */

.error-message {
    color: red;
    margin-top: 10px;
}